<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete blog</title>
</head>
<body>
<h1>Delete blog</h1>
<h3>Ban chac chua</h3>
<p>
    <a th:href="@{/blog}">Back to list</a>
</p>
<form th:action="@{/delete-blog}" method="post" th:object="${blog}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Author:</td>
            <td th:text="${blog.author}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${blog.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete blog"></td>
        </tr>
    </table>
</form>
</body>
</html>