<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<p>
    <a href="/create-category">Create new category</a>
</p>
<h1>Category List</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="category:${categories}">
        <tr>
            <td><a th:href="@{/view-category/__${category.id}__}" th:text="${category.name}"></a></td>
            <td><a th:href="@{/edit-category/__${category.id}__}">edit</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__}">delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>